<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <header class="todolistHeader">
        <h1>ListaDeTarefas</h1>

        <nav class="linksList">
            <a href="/logout">Sair</a>
        </nav>
    </header>

    <main class="boxTasks">
        <section class="addTask">
            <h2>Seja bem-vindo <%= user%> !</h2>
            <input id="userId" type="hidden" value="<%= userId %>">
            <button id="newTask" class="newTask">+ Adicionar tarefa</button>
        </section>

        <section class="tasks">

            <% tasks.forEach(task=> { %>
                <div class="task">
                    <h3><%= task.description %></h3>

                    <span class="status">Status: <b>Pendente</b></span>

                    <hr class="horizontalRule">

                    <div class="boxButtons">
                        <button id="editingTask">Editar</button>
                        <button id="deleteTask">Deletar</button>
                    </div>

                    <input id="taskId" type="hidden" value="<%= task._id%>">
                </div>
            <% }) %>

        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="js/tasks.js"></script>
</body>

</html>